.product{
    display:block;
    background-color: rgb(226, 226, 226);
}

#prodPgContainer{
    display: flex;
    justify-content:flex-start;
    
}

#filters{
    width: 15vw;
    /* border-right: solid black 0.8px; */
    margin-right: 25px;
    text-align: center;
    position: sticky;
    top: 59px;
    z-index: 999;
    height: 500px;
    background-color:  rgb(226, 226, 226);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 20px;
}