header{
    border-bottom: solid black .8px;
    text-align: center;
    display: flex;
    justify-content:space-between;
    position: sticky;
    top: 0;
    background: rgb(15, 15, 78);
    z-index: 999;
    
}

#brandname{
    color: white;
    margin: 0;
}

#tagline,#cartval{
    color: white;
    margin: 0;
}